<footer class="footer work-together section" id="work-together">
  <div class="container form-section-container">

    <div class="portrait-title-together-container">
      <div class="portrait-title-container">
        <picture>
          <source srcset="./img/footer-tab-desk-portrait.png, ./img/footer-tab-desk-portrait@2x.png 2x"
            media="(min-width: 768px)">

          <source srcset="./img/footer-mob-portrait.png 1x, ./img/footer-mob-portrait@2x.png 2x"
            media="(max-width: 767px)">

          <img class="section-portrait" src="./img/footer-mob-portrait.png" alt="A portrait">
        </picture>

        <h2 class="form-title">Let's <span class="red">work</span></h2>
      </div>
      <span class="form-title">together</span>
    </div>

    <form class="form js-form">
      <div class="input-message-container">
        <div class="inputs-container">
          <div class="email-input-container">
            <input class="form-input email js-email" type="email" name="user-email" placeholder="clients@gmail.com"
              pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$">

            <p class="success-message fade-out js-success-message">Success!</p>
            <p class="error-message fade-out js-error-messasge">Invalid email, please try again</p>
          </div>

          <input class="form-input comment js-comment" type="text" name="user-comment" placeholder="comments">
        </div>

      </div>
      <button class="form-button" type="submit" aria-label="Send form">Send</button>
    </form>

    <address class="address">
      <ul class="address-list">
        <li class="address-item">
          <a class="address-link" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
        </li>
        <li class="address-item">
          <a class="address-link" href="tel:+3801111111111">+380 11 1111 11 11</a>
        </li>
      </ul>
    </address>
  </div>
</footer>