.about-me-container {
  display: flex;
  flex-wrap: wrap;
}

.about-me-intro {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 32px;
}

.about-me-activity {
  min-height: 500px;
  padding: 32px;
  border-radius: 24px;
  background-color: var(--cards);
}

.about-me-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--main-text);
}

.about-me-span-gray {
  color: rgba(250, 250, 250, 0.4);
}

.about-me-span-red {
  color: var(--button-text);
}

.about-me-thumb {
  border-radius: 24px;
  background-color: var(--cards);
  margin: 0;
}

.about-me img {
  display: block;
  max-width: 343px;
  height: auto;
  border-radius: 24px;
  width: 100%;
}

/* ================ accordion ================== */

.about-me-accordion-part {
  width: 100%;
}

.about-me-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.about-me-ac-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  background: transparent;
  border: none;
  cursor: pointer;
  text-align: left;
  margin-top: 0;
  width: 100%;
  transition: color 0.3s ease-in-out;
}

.ac-about-me-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.ac-about-me-item:first-child {
  padding-top: 0;
}
.about-me-ac-btn {
  border: 1px solid rgba(250, 250, 250, 0.5);
  background-color: transparent;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 36px;
  height: 36px;
  margin-bottom: 32px;
  transition: background-color 600ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 600ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-me-ac-btn.open {
  transform: rotate(180deg);
  margin-bottom: 0;
}

.icon-arrow-up,
.icon-arrow-down {
  stroke: var(--main-text);
  fill: none;
  width: 18px;
  height: 18px;
  display: block;
}

.ac-about-me-item:hover .about-me-ac-btn,
.about-me-ac-btn:focus {
  background-color: rgba(250, 250, 250, 0.1);
  border-color: rgba(250, 250, 250, 0.4);
}

.about-me-ac-text {
  cursor: auto;
  max-width: fit-content;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--main-text);
}

.about-me-ac-panel {
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  max-height: 0;
  padding-bottom: 0px;
  overflow: hidden;
  transition: max-height 600ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 600ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 600ms cubic-bezier(0.4, 0, 0.2, 1),
    padding-bottom 600ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-me-ac-panel.open {
  transform-origin: top;
  transform: scaleY(1);
  padding-top: 12px;
  padding-bottom: 20px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  max-height: 600px;
}

.about-me-part {
  margin-bottom: 32px;
}

.ac-about-me-item:not(:first-child) .about-me-ac-text:not(:last-child) {
  margin-bottom: 10px;
}

/* ======== skills========= */
.about-me .swiper {
  margin-left: unset;
  margin-right: unset;
}

.skills-part {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.skills-swiper {
  width: 100%;
  overflow: hidden;
  display: flex;
  width: 260px;
}

.skills-list.swiper-wrapper {
  display: flex;
}

.skills-item.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  text-align: center;
  flex-shrink: 0;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--main-text);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.skills-btn-next {
  border: none;
  background-color: transparent;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: auto;
}

.skills-item.swiper-slide.swiper-slide-active {
  background-color: var(--button-text);
  border: 0 solid transparent;
}

.icon-btn-arrow {
  stroke: var(--arrow);
  fill: none;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.skills-btn-next:hover .icon-btn-arrow,
.skills-btn-next:focus .icon-btn-arrow {
  stroke: var(--main-text);
}

/* ====================================== */

@media screen and (min-width: 768px) {
  .about-me-activity {
    min-height: 700px;
    padding: 64px;
  }

  .about-me-text {
    font-size: 38px;
    line-height: 105%;
  }

  .about-me-intro {
    margin-bottom: 64px;
  }

  .about-me-thumb {
    min-height: 700px;
  }

  .about-me img {
    max-width: 704px;
  }

  .ac-about-me-item {
    padding-top: 32px;
  }

  .about-me-list {
    margin-bottom: 64px;
  }

  .about-me-part {
    margin-bottom: 16px;
  }

  .about-me-ac-panel.open {
    padding-top: 8px;
    padding-bottom: 32px;
  }

  .about-me-ac-btn {
    width: 40px;
    height: 40px;
  }

  .icon-arrow-up,
  .icon-arrow-down {
    width: 20px;
    height: 20px;
  }

  .skills-swiper {
    width: 600px;
  }

  .skills-item.swiper-slide {
    width: 200px;
    height: 200px;
    font-size: 20px;
    line-height: 100%;
  }

  .icon-btn-arrow {
    width: 40px;
    height: 40px;
  }
}

/* ====================================== */

@media screen and (min-width: 1440px) {
  .about-me-intro {
    margin-bottom: 96px;
    flex-wrap: nowrap;
  }

  .about-me-activity,
  .about-me img {
    max-width: 680px;
  }

  .about-me img {
    height: 100%;
  }

  .about-me-part {
    margin-bottom: 32px;
  }

  .about-me-ac-panel {
    padding-left: 50%;
    padding-right: 68px;
  }

  .about-me-list {
    margin-bottom: 96px;
  }

  .ac-about-me-item:nth-child(3) .about-me-ac-text:first-child {
    width: 369px;
  }

  .ac-about-me-item:nth-child(3) .about-me-ac-text:nth-child(2) {
    width: 450px;
  }

  .skills-part {
    padding-left: 32px;
    padding-right: 32px;
  }

  .skills-swiper {
    width: 1200px;
  }
}
