:root {
  --background: #1c1d20;
  --cards: #242527;
  --arrow: #3b3b3b;
  --button-text: #2b4441;

  --button-hover: #1e3633;

  --main-text: #fafafa;

  --font-family: 'Inter Tight', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--main-text);
  font-family: var(--font-family);
  font-weight: 500;
}
section:first-child {
  margin-bottom: 64px;
}

section:not(:first-child) {
  padding-bottom: 64px;
}

@media screen and (min-width: 768px) {
  section:not(:first-child) {
    padding-bottom: 96px;
  }
}

@media screen and (min-width: 1440px) {
  section:not(:first-child) {
    padding-bottom: 164px;
  }

  section:first-child {
    margin-bottom: 96px;
  }
}
