.benefits-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);

  margin-bottom: 32px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;

  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    & {
      margin-bottom: 64px;
    }
  }
}

.benefits-item {
  background-color: var(--cards);
  border-radius: 20px;
  padding: 24px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    transform: translateY(-5px);
    background-color: var(--button-hover);
  }

  @media screen and (min-width: 768px) {
    & {
      max-width: calc((100% - 16px) / 2);
    }
  }
}

.benefits-icon-frame {
  width: 48px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  background-color: var(--button-text);

  margin-bottom: 64px;
}

.benefits-icon {
  stroke: #fafafa;
  fill: none;
}

.benefits-subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;

  margin-bottom: 8px;
}

.benefits-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.cta-btn {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;

  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 18px 36px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: #fafafa;
  }
}

@media screen and (min-width: 1440px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .benefits-title {
    grid-column: 1;
    grid-row: 1 / 3;
  }

  .benefits-list {
    grid-column: 2;
    grid-row: 1;
  }

  .cta-btn {
    grid-column: 2;
    grid-row: 2;
  }
}
