.reviews * {
  font-family: 'Inter Tight', sans-serif;
}

.reviews-heading {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  text-transform: uppercase;
  margin-bottom: 32px;
}

.reviews-card-list {
  min-height: 302px;
  margin-bottom: 32px;
  align-items: stretch;
}

.reviews-card-item {
  max-width: 100%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
}

.reviews-card-item.swiper-slide {
  height: auto;
  min-height: 100%;
}

.reviews-card-image {
  border-radius: 10px;
  margin-bottom: 32px;
}

.reviews-card-heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 8px;
}

.reviews-card-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.reviews-btn-box {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.reviews-button {
  border: 1px solid rgba(250, 250, 250, 0.5);
  background-color: transparent;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviews-button-arrow {
  stroke: #fafafa;
  fill: none;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviews-button:hover,
.reviews-button:focus {
  border-color: #fff;
}

.reviews-button:disabled {
  border-color: rgba(250, 250, 250, 0.2);
}

.reviews-button:disabled > .reviews-button-arrow {
  stroke: #3b3b3b;
}

.reviews-not-found {
  width: 100%;
  height: 302px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  color: rgba(250, 250, 250, 0.6);
}

@media only screen and (min-width: 768px) {
  .reviews-btn-box {
    gap: 20px;
  }
  .reviews-button-arrow {
    width: 32px;
    height: 32px;
  }
  .reviews-button {
    width: 68px;
    height: 68px;
  }

  .reviews-not-found {
    font-size: 48px;
  }
}
